{
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "printWidth": 125,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": [
        "*.ts"
      ],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}