<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cartão do SUS - Base Local</title>

    <style>
      * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
      }

      .row {
        text-align: center;
        margin-top: 10px;
      }

      .container {
        margin: auto;
        width: 650px;
        display: flex;
        flex-direction: column;
      }

      .extractButton {
        padding: 10px 20px;
        margin-bottom: 10px;
      }

      textarea {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="container">
        <button class="extractButton" id="doExtraction">
          Extract Informations
        </button>
        <textarea rows="20" id="source"></textarea>
        <textarea rows="10" id="extraction"></textarea>
      </div>
    </div>

    <script>
      const extractInformation = (rawResponse) => {
        const response = rawResponse.replaceAll(/\n[ ]*xmlns:.*=".*"/g, "");
        const extractedInformation = {};
        const fields = [
          ":numeroCNS>",
          ":Nome>",
          ":dataNascimento>",
          ":codigoSexo>",
          ":codigoMunicipio>",
        ];

        fields.forEach((field) => {
          const clearField = field.replaceAll(/:|>/g, "");
          const currentDataInField = response.split(field)[1].split("\n")[0];
          extractedInformation[clearField] = currentDataInField;
        });

        const encoded = encodeURIComponent(
          JSON.stringify(extractedInformation)
        );
        console.log(encoded);

        return encoded;
      };

      document.getElementById("doExtraction").addEventListener("click", () => {
        const txtSource = document.getElementById("source");
        const txtExtraction = document.getElementById("extraction");
        const extractedInformation = extractInformation(txtSource.value);

        txtExtraction.value = extractedInformation;

        window.open(`http://localhost:7125/cartao_api/${extractedInformation}`);
      });
    </script>
  </body>
</html>
