<pre>

              |                         |
,---.,---.,---|,---..   .,---.. . .,---.|---.
|    ,---||   |`---.|   |`---.| | ||---'|   |
`---'`---^`---'`---'`---'`---'`-'-'`---'`---'

Servidor local rodando! :D
</pre>